{
  "input": {
    "subscription": "projects/test-project/subscriptions/good-sub"
  }

  "output": {
    "good": {
      "topic": "projects/test-project/topics/enriched-good"
    }

    "bad": {
      "topic": "projects/test-project/topics/bad"
    }
  }
}